<div class="container">
<div class="clear"></div>

    
<div class="col-lg-12">
<div class="login-form ng-scope">
	<div  class="container container-faq form-login">
	
  <div ng-show="isConfirmed()">
	<span class="icon-ok icon-4x green"></span>
          <h1>Email confirmed successfully!</h1>         
  </div>
  <div ng-show="isError()">
  <span class="icon-remove icon-4x red"></span>
          <h1>Ops, something has been wrong! Please try later</h1>         
  </div>
	</div>
	<!-- end row -->
	
	

	<div class="clear"></div>

</div>



</div>     
</div>
<!-- end container -->
<div class="clear"></div>