<div class="container">
	<div ng-hide="forgot" class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Login</h1>
			<blockquote class="col-sm-8">
				{{ 'LOGIN-DESC' | translate }}
			</blockquote>
			<div class="well col-sm-4">
				{{ 'LOGIN-REG-1' | translate }}<a href="#/register">{{'here'|translate}}</a>{{ 'LOGIN-REG-2' | translate }}
			</div>
		</div>
    </div>
    <div ng-hide="forgot" class="row" id="uno">
		<div class="panel panel-default col-sm-8 col-sm-offset-2">
			<div class="panel-body">
					<div class="panel-default center-block">
						<form class="form-horizontal panel-body">
							<div class="form-group">
							<label for="username" class="col-lg-2 control-label">{{'email'|translate}}</label>
								<div class="col-lg-10">
									<input ng-model="username" class="form-control form-control-custom" id="username" placeholder="{{'email'|translate}}" type="email">
								</div>
							</div>
							<div class="form-group">
							<label for="pwd" class="col-lg-2 control-label">{{'password'|translate}}</label>
								<div class="col-lg-10">
									<input ng-model="password" class="form-control form-control-custom" id="pwd" placeholder="{{'password'|translate}}" type="password">
								</div>
							</div>
						</form>
						<div class="panel-footer custom-panel-footer">
							<div ng-show="loginFail" class="col-sm-8 alert alert-dismissable alert-danger custom-danger">
							  <strong>{{'LOGIN-FAIL-SWEAR' | translate}}</strong>{{'LOGIN-FAIL-ALERT' | translate}}
							</div>
							<div class="pull-right">
								<a href="" class="btn btn-default btn-primary " ng-click="login()">
									Login
								</a>
								<a href="" class="btn btn-default btn-primary " ng-click="forgotPass()">
									Forgot Password?
								</a>
							</div>
						</div>
					</div>	
								
				</div>
			</div>
		</div>
		<div ng-show="forgot" class="row" id="uno">
			<div class="panel panel-default col-sm-8 col-sm-offset-2">
			<div class="panel-body">
					<div class="panel-default center-block">
						<form class="form-horizontal panel-body">
							<div class="form-group">
							<label for="username" class="col-lg-2 control-label">{{'email'|translate}}</label>
								<div class="col-lg-10">
									<input ng-model="email" class="form-control form-control-custom" id="email" placeholder="{{'email'|translate}}" type="email">
								</div>
							</div>
						</form>
						<div class="panel-footer custom-panel-footer">
							<div ng-show="loginFail" class="col-sm-8 alert alert-dismissable alert-danger custom-danger">
							  <strong>{{'LOGIN-FAIL-SWEAR' | translate}}</strong>{{'LOGIN-FAIL-ALERT' | translate}}
							</div>
							<div class="pull-right">
								<a href="" class="btn btn-default btn-primary " ng-click="forgotPassword()">
									Reset Password	
								</a>
							</div>
						</div>
					</div>
								
				</div>
			</div>
		</div>
	</div>
			
<!--
			end row
-->
</div>
