<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">{{'new-enty-hdr' | translate}}</h1>
			<blockquote>
				{{'new-enty-desc' | translate}}  
			</blockquote>
		</div>
    </div>
    <div class="row" id="uno">
		<div class="panel panel-default col-sm-8 col-sm-offset-2">
			<div class="panel-body">
					<div class="panel-default center-block">
						<form name="newForm" class="form-horizontal panel-body" ng-submit="saveEntity()" novalidate>
							<div class="form-group"  ng-class="{ 'has-error' : newForm.name.$invalid && !newForm.name.$pristine }" >
							<label for="inputName" class="col-lg-2 control-label">{{'new-enty-name' | translate}}</label>
								<div class="col-lg-8">
									<input ng-model="entity.selected.name" class="form-control form-control-custom" id="inputName" name="name" placeholder="{{'new-enty-name' | translate}}" type="text" required>
								</div>
							</div>
							<div class="form-group"  ng-class="{ 'has-error' : newForm.class.$invalid && !newForm.class.$pristine }" >
								<label for="classSelection"class="col-lg-2 control-label">{{'new-enty-class' | translate}}</label>
								<div class="col-lg-8 ">
									<!-- <ui-select class="" name="class" ng-model="entity.selected.class" theme="bootstrap" required>
							            <ui-select-match placeholder=" {{'new-enty-placeholder' | translate}}">{{$select.selected.label}}</ui-select-match>
							            <ui-select-choices repeat="class in classes | filter: $select.search">
							              <div ng-bind-html="class.label"></div>
							              <small ng-bind-html="class.uri"></small>
							            </ui-select-choices>
							        </ui-select> -->

							        <input name="class" type="text" placeholder="{{'prop' | translate}}" ng-model="entity.selected.classModel" typeahead="classModel as classModel.label for classModel in classes | filter:$viewValue | limitTo:8" typeahead-editable="false" typeahead-template-url="views/class_list_item_template.html" class="form-control" ng-hide="mobileView" autocomplete="off">
							        
							        <select name="class" class="form-control" ng-model="entity.selected.classModel" ng-options="classModel.label for classModel in classes" ng-show="mobileView" required>
							        	<!-- <option value="" disabled>{{'new-enty-class' | translate}}</option> -->
							        </select>
								</div>
								
							</div>
						<div class="panel-footer custom-panel-footer">
							<div ng-show="newForm.name.$invalid && !newForm.name.$pristine" class="col-xs-8 alert alert-dismissable alert-danger custom-danger">
							  <strong>{{'LOGIN-FAIL-SWEAR' | translate}}</strong>{{'new-enty-name-error' | translate}}
							</div>
							<div ng-show="newForm.class.$invalid && !newForm.class.$pristine" class="col-xs-8 alert alert-dismissable alert-danger custom-danger">
							  <strong>{{'new-enty-class-error' | translate}}</strong>
							</div>
							<div class="pull-right">
								
								<button type="submit" class="btn btn-default btn-primary " ng-disabled="loading || newForm.$invalid">
									{{'save' | translate}}
								</button>
								<a href="" class="btn btn-default " ng-click="reset()" ng-disabled="loading ">
									Reset
								</a>
							</div>
							<circle-spinner class="circle-spinner-custom" ng-show="loading"></circle-spinner>
						</div>
						</form>
					</div>
								
				</div>
			</div>
		</div>
	</div>
</div>
			
<!--
			end row
-->
</div>
